body {
    font-family: Arial, 'Microsoft YaHei', 'Source Sans Pro', Helvetica, sans-serif;
    background: url('../images/bg.png');
}

.log-header {
    .panel-title {
        text-align: center;
        font-size: 29px !important;
    }
}

.log-box {
    width: 80%;
    position: absolute;
    left: 50%;
    top: 10%;
    margin-left: -40%;
}

.exit-btn {
    position: absolute;
    right: 20px;
}

.selectBox {
    width: 120px;
}

.mt50 {
    margin-top: 50px;
}

.list-box {
    min-height: 300px;
    max-height: 400px;
    overflow: auto;
}